apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: true
    jsonData:
      timeInterval: 15s
      exemplarTraceIdDestinations:
        - name: Loki
          datasourceUid: Loki
      labelMatchers:
        - job
        - app
        - container_name
        - env

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    version: 1
    editable: true
    jsonData:
      derivedFields:
        - datasourceUid: Prometheus
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
      maxLines: 1000
      labelMatchers:
        - job
        - app
        - container_name
        - env